.contenedor-small-data {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 275px;
  height: 75px;
  border: 1px solid lightgray;
  color: purple;
  border-radius: 0.3em;
  margin: 20px;
}
