.navBar {
  display: flex;
  margin-bottom: 50px;
  border-bottom: 1px solid lightgray;
}

.imagen-logo img {
  width: 300px;
}

.links {
  width: 100%;
  display: flex;
}

.links ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links li {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}
