.navBar {
  display: flex;
  border-bottom: 1px solid #80083f;
  padding: 20px;
}

.imagen-logo img {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.links {
  width: 100%;
  display: flex;
}

.links ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links li {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.links li a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}
